.container {
  display: flex;
  height: 10vh;
  min-height: 60px;
  background: rgba(234, 233, 233, 0.782);
  /* border: 2px rgb(255, 255, 255) solid; */
  border-radius: 3px;
  margin: 20px 20px 20px 20px;
  justify-content: space-between;
  /* align-items: center; */
}

.user {
  font-size: 1.5em;
  color: #ffffff;
  text-shadow: 1px 1px 1px #737373;
  align-self: center;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.select {
  border: 1px solid #ffffff00;
  background-color: transparent;
  font-size: 1.5em;
  color: #737373;
  text-shadow: 2px 2px 1px #ffffff;
  align-self: center;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.select:hover {
  transform: scale(1.03);
  color: #3496f8;
}


/* remove outline border when clicking on select */
*:focus {
  outline: none;
}

.column {
  display:flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}
.row {
  display:flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
}

img {
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}