.side {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-height: 40px;
  background: #eae9e9c7;
  /* border: 2px rgb(255, 255, 255) solid; */
  text-align: center;
  margin-bottom: 4px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px #474747;
}

.side:hover {
  transform: scale(1.005);
  background: #d5d4d4e3;
}
.side:active {
  transform: scale(0.995);
  background: #d5d4d4e3;
}