.side {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: rgba(213, 212, 212, 0.782);
  border: 2px rgb(255, 255, 255) solid;
  text-align: center;
  margin-bottom: 4px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(71, 71, 71);
}

.side:hover {
  transform: scale(1.005);
  background: rgba(213, 212, 212, 0.892);
}
.side:active {
  transform: scale(0.995);
  background: rgba(213, 212, 212, 0.892);
}