.side {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  min-height: 40px;
  background: #e9eaeac7;
  /* border: 2px rgb(255, 255, 255) solid; */
  text-align: center;
  margin-bottom: 4px;
  border-radius: 3px;
  color: #578fdc;
  text-shadow: 1px 1px 2px #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 40px;
  font-size: 1.2rem;
  cursor: pointer;
}

.side:hover {
  transform: scale(1.005);
  background: #d5d4d4e3;
}
.side:active {
  transform: scale(0.995);
  background: #d4d4d5e3;
  color: #428efa;
}

.arrow:hover {
  transform: scale(1.02);
}